@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:700|DM+Sans:500,400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #132C55;
  --secondary-bg-color: #EEF5FF;
  --footer-bg-color: #0F2441;
  --button-bg-color: #EE7D54;
  --white-color: #FFFFFF;
}

.container {
  max-width: 1440px;
  padding: 20px 135px;
  margin-inline: auto;
}

/* Header */

.hamburger {
  display: none;
}

header {
  background-color: var(--primary-bg-color);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-family: DM Sans;
  font-weight: 700;
  color: var(--white-color);
  margin-left: 40px;
  text-decoration: none;
}

.nav img {
  margin-left: 8px;
}

.btn__login {
  border: 2px solid #ADC8F4;
  border-radius: 30px;
  background: none;
  padding: 8px 18px;
  margin-right: 16px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  color: var(--white-color);
  cursor: pointer;
}

.btn__signup {
  background: none;
  padding: 10px 18px 8px;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 30px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);
  cursor: pointer;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 135px;
}

.main-content-1 {
  width: 563px;
}

.main-content-1 h1 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  color: var(--white-color);
  margin-bottom: 16px;
}

.main-content-1 p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 30.8px;
  color: var(--white-color);
  margin-bottom: 32px;
}

.title__part {
  color: #FEEAA5;
}

.header__ilustration__photo {
  width: 470px;
  height: 416px;
}

.partners__logos {
  width: 863px;
  height: 59px;
  margin-top: 45px;
  margin-bottom: 40px;
}

.sign__up__btn {
  padding: 16px 40px;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 50px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
}

.intro__btn {
  padding: 15px 35px;
  background: none;
  border: 2px solid #ADC8F4;
  border-radius: 50px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  margin-left: 14px;
}

.intro__btn img {
  margin-right: 12px;
}

.students__num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 97px;
}

.parnters__logos {
  margin-top: 27px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}

.students__num ul {
  display: flex;
  gap: 30px;
  margin: 8px 122px;
}

.students__num ul li {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--white-color);
}

.students__title {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--white-color);
}

.mouse__scroll {
  text-align: center;
  padding-bottom: 40px;
}

.mouse__scroll p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.8px;
  color: var(--white-color);
  margin-top: 8px;
}

/* section-1 */

.section-1 {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
  gap: 64px;
}

.testimonials {
  display: flex;
}

.section-1 h1 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
}

.testimonials h3 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.testimonials p {
  margin-top: 16px;
  margin-bottom: 12px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.testimonials div {
  margin-right: 31px;
}

/* section 2 */

.section-2 {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 101px;
  padding: 96px 318px;
  min-height: 704px;
}

.flex__row {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  margin-right: 10px;
  min-width: 562px;
}

.section__2__title {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50.4px;
  color: var(--white-color);
  min-width: 348px;
  white-space: nowrap;
}

.group__1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  gap: 4px;
  margin: 42px auto 0;
  min-height: 321px;
  max-width: 802px;
  width: 100%;
}

.oerlap__group {
  height: 304px;
  margin-right: -6px;
  position: relative;
  max-width: 808px;
  width: 100%;
}

.rectangle__32 {
  height: 257px;
  left: 0;
  position: absolute;
  top: 47px;
  max-width: 770px;
  width: 100%;
}

.rectangle__31 {
  position: absolute;
  top: 12px;
  left: 22px;
  max-width: 770px;
  width: 100%;
}

.rect__paragraph {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #333333;
  position: absolute;
  left: 78px;
  top: 72px;
  width: 674px;
  letter-spacing: 0;
}

.quote__icon {
  height: 32px;
  position: absolute;
  left: 78px;
  top: 0;
  width: 47px;
}

.group__2 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  height: 48px;
  min-width: 302px;
  position: absolute;
  top: 178px;
  left: 81px;
}

.group__2 img {
  border-radius: 50%;
}

.social_icons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  min-width: 96px;
}

.social_icons {
  margin-bottom: 8px;
}

.name {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.high__school {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.group__3 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin-top: 7px;
  min-width: 288px;
}

.group__3 img {
  height: 48px;
  width: 48px;
}


.vector__1 {
  margin-right: 2.5px;
  width: 15px;
}

/* section-3 */

.section-3 {
  background-color: var(--secondary-bg-color);
}

.section-3-child {
  display: flex;
  flex-direction: column;
}

.section__3_group__1 {
  margin-top: 96px;
  margin-bottom: 32px;
  text-align: center;
}

.section__3_group__1 h1 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 12px;
}

.section__3_group__1 p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
}

.section__3_group__2 {
  max-width: 1170px;
  border-radius: 32px;
  box-shadow: 0px 0px 22px #00000014;
  padding: 16px 0;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-around;
  padding-bottom: 14rem;
}

.section__3__overwrap {
  display: flex;
  justify-content: space-around;
}

.fruits {
  width: 35%;
  margin-left: 64px;
}

.group__image {
  display: none;
}

.part__1 {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 39px;
  margin-top: 76px;
}

.citrus__part h3 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 12px;
}

.citrus__part p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #646464;
}

.part__2 {
  margin-bottom: 24px;
}

.part__2 button {
  background: #EEF5FF;
  border-radius: 19px;
  border: none;
  padding: 10px 28px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #498BF9;
  margin-right: 48px;
}

.part__2 button img {
  margin-right: 8px;
  text-align: center;
}

.part__2 span {
  margin-right: 13px;
  font-family: DM Sans;
  font-weight: 700;
  color: #333333;
  display: inline-block;
}

.part__2 span:first-child {
  font-size: 14px;
  line-height: 16.8px;
} 

.part__2 span:nth-child(3) {
  font-size: 18px;
  line-height: 20.4px;
  border-radius: 50%;
  background-color: #EEF5FF;
  padding: 8px 13px 10px;
}

.part__2 span:last-child {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
}

.part__3 {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #646464;
}

.sort__of__fruits {
  margin-top: 66px;
  margin-right: 64px;
}

.sort__of__fruits h3 {
   font-family: DM Sans;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
   color: #333333;
   margin-bottom: 16px;
}

.sort__of__fruits div {
  display: flex;
  width: 540px;
  height: 74px;
  align-items: center;
  border: 2px solid #E0E8F4;
  gap: 15px;
}

.sort__of__fruits div p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #646464;
}

.sort__of__fruits div span {
  margin-left: 16px;
  border-radius: 50%;
  background-color: #EEF5FF;
  padding: 8px 13px 12px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: #333333;
}

.footer__section {
  position: relative;
  align-self: flex-end;
}

.footer__section__btn {
  position: absolute;
  top: 123px;
  right: 100px;
  width: 250px;
  padding: 16px  45px;
  background-color: var(--button-bg-color);
  border-radius: 30px;
  border: none;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

.first__child{
  position: absolute;
  top: 140px;
  right: 971px;
  display: flex;
}

.first__child span:first-child {
  background-color: #CBE0FF;
}

.first__child span {
  border: 2px solid #CBE0FF;
  border-radius: 25px;
  padding: 9px 12px;
  margin-right: 8px;
}

/* section-4 */

.section-4 {
  display: flex;
  justify-content: space-around;
  margin-top: 96px;
}
.sec-4 {
  display: contents;
}
.comp__offers {
  margin-top: 25px;
}

.comp__offers h1 {
  margin-bottom: 32px;
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
  color: #333333;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 96px;
}

.offers__type {
  display: flex;
  align-items: center;
  gap: 16px;
}

.adapt__soft {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 6px;
}

.automatic__title {
  color: #646464;
}

.easy__title {
  color: #333333;
}

.thousands__title {
  color: #498BF9;
}

.offers p {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.offers div {
  width: 436px;
}

.pointer {
  position: absolute;
  left: 923px;
}

.num__1 {
  background-color: var(--secondary-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 11px 8px;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #498BF9;
}

.num__2 {
  background-color: #DCE7F9;
}

.num__4 {
  background-color: #498BF9;
  color: var(--white-color);
}

/* section 5 */

.section-5 {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.datas {
  display: flex;
}

.data {
  display: flex;
  align-items: center;
  gap: 29px;
}

.first__data {
  margin-right: 51px;
}

.num_p {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #498BF9;
}

.info {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  margin-top: 6px;
}

.section-5 h1 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-top: 96px;
}

.read__more__btn {
  background-color: #EEF5FF;
  padding: 1rem 3rem;
  border: 1px solid #498BF9;
  border-radius: 50px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.section-6 {
  background-color: var(--primary-bg-color);
}

.section-6-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 650px;
}

.section__6__info {
  display: flex;
  flex-direction: column;
}

.section__6__info h1 {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  color: var(--white-color);
}

.section__6__info h1 span {
  color: #FEEAA5;
}

.section__6__info p {
  margin-top: 16px;
  margin-bottom: 48px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 30.8px;
  color: var(--white-color);
  width: 432px;
}

/* footer  */

footer {
  background-color: var(--footer-bg-color);
}

.footer__col__1 {
  display: flex;
  justify-content: space-between;
}

.footer__col__1 img {
  margin-top: 63.23px;
  margin-bottom: 76px;
}

.footer__col__1 form {
  margin: 56px 0;
}

.footer__col__1 form input {
  padding: 14px 188px 12px  16px;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  border: none;
  color: #A8B2C1;
  margin-right: 8px;
}

.footer__col__1 form input::placeholder {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.footer__col__1 form button {
  padding: 12px 32px;
  background-color: #498BF9;
  border-radius: 30px;
  border: none;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

.footer__col__2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer__col__2 h2 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--white-color);
  margin-bottom: 24px;
}

.footer__col__2 ul li {
  list-style-type: none;
  margin-bottom: 24px;
}

.footer__col__2 ul li a{
  list-style-type: none;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #A8B2C1;
  text-decoration: none;
}

.footer__child__2 {
  display: flex;
  align-items: center;
}

.footer__child__3 {
  margin-right: 30px;
}

.footer__col__3 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #A7B2C1;
}

.col__3__firstChild {
  margin-top: 33px;
}

.col__3__firstChild a {
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #A7B2C1;
  margin-right: 40px;
}

.col__3__secondChild {
  display: flex;
  margin-top: 33px;
}


.col__3__secondChild i {
  background-color: var(--primary-bg-color);
  padding: 8px 10px 8px;
  border-radius: 50%;
  margin-right: 20px;
}

.col__3__secondChild img {
  margin-left: 23px;
}

.section__2__title br {
  display: none;
}

.another__option {
  display: none;
}

@media(max-width:1260px) {
  .container {
    padding: 20px 75px;
  }
  .section-2 {
    padding: 96px 20px !important;
  }
}
@media(max-width:1024px) {
  .section__3__overwrap,
  .section-4,
  .testimonials,
  .datas, .main-content, .section-6-child, .footer__col__1, .footer__col__2  {
    display: block;
  }
  .fruits {
    width: 80%;
    margin: 0 auto;
  }
  .sort__of__fruits {
    margin-right: 0;
  }
  .sort__of__fruits div  {
    margin: 0 auto;
  }
  .sort__of__fruits h3 {
    text-align: center;
  }
  .footer__section__btn {
    right: 284px;
  }
  .section-1 h1,
  .section-4,.testimonials, .main-content, .section-6-child {
    text-align: center;  
  }
  .testimonials div {
    margin-right: 0;
    margin-top: 31px;
  }
  .section-5 h1 {
    margin: 96px 0;
  }
  .main-content-1 {
    width: 100%;
    margin-bottom: 40px;
  }
  .section__6__info p {
    width: 100%;
  }
  .rect__paragraph {
    width: unset;
  }
  .flex__row {
    min-width: unset;
} 
}
@media (max-width: 376px) {
  .container {
    max-width: 375px;
    padding: 39px 24px;
  }

  .nav {
    display: none;
  }

  .nav__buttons {
    display: none;
  }

  .hamburger {
    display: block;

  }

  .main-content {
    flex-direction: column;
    margin-top: 64px;
  }

  .main-content-1 h1 {
    font-size: 32px;
    line-height: 28.4px;
  }
  
  .main-content-1  {
    width: 300px;
  }
  .main-content-1 p {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .header__ilustration__photo {
    width: 327px;
    height: 289px;
    margin-top: 64px;
  }

  .sign__up__buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .intro__btn {
    margin-left: 0px;
  }

  .students__num__child {
    width: 100%;
  }

  .students__num ul {
    margin: 11px 40px;
  }

  .mouse__scroll {
    display: none;
  }

  .section-1 {
    margin-top: 30px;
  }

  .testimonials {
    flex-wrap: wrap;
    gap: 40px;
  }

  .testimonials div {
    margin-right: 0px;
  }

  .testimonials div img {
    margin-bottom: 16px;
  }

  .testimonials div h3 {
    margin-bottom: 12px;
  }

  .section-1 h1 {
    font-size: 28px;
    line-height: 33.6px;
    margin-bottom: 40px;
  }

  .section-2 {
    margin-top: 0px; 
    padding: 0px;
    min-height: 679px;
    justify-content: center;
  }

  .section__2__title {
    font-size: 28px;
    line-height: 33.6px;
    min-width: 0px;
    text-align: center;
  }

  .section__2__title br {
    display: block;
  }

  .say__icon__1 {
    width: 56px;
    height: 48px;
  }

  .say__icon__2 {
    width: 48px;
    height: 48px;
  }

  .flex__row {
    min-width: 0px;
    margin-right: 0px;
    gap: 0px;
  }

  /* .group__1 {
    width: 0px;
    align-items: center;
  }

  .oerlap__group {
    width: 679px;
  }

  .rectangle__32 {
    width: 400px;
    height: 500px;
  }

  .rectangle__31 {
    width: 400px;
  } */

  .section__3_group__1 {
    margin-top: 50px;
    margin-bottom: 24px;
  }

  .section__3_group__2 {
    display: none;
  }

  .group__image {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 50px;
  }

  .section-4 {
    margin-top: 0px;
  }

  .offers {
    display: none;
  }

  .kid {
    display: none;
  }

  .another__option {
    display: block;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .comp__offers h1 {
    font-size: 28px;
  }

  .text h2 {
    font-family: IBM Plex Serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
  }

  .text p {
    font-family: DM Sams;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 24px;
  }

  .span__numbers {
    display: flex;
    gap: 16px;
  }

  .scores {
    width: 148px;
    height: 148px;
  }
  .num_p {
    font-size: 48px;
    line-height: 48px;
  }

  .section-5 h1 {
    font-size: 28px;
    line-height: 22.6px;
    text-align: center;
    margin-top: 64px;
  }

  .datas {
    flex-direction: column;
  }

  .data {
    flex-direction: column;
    text-align: center;
  }

  .second__data {
    margin-top: 25px;
  }

  .read__more__btn {
    margin-bottom: 64px;
  }

  .section-6-child {
    flex-direction: column-reverse;
  }

  .section__6__info h1 {
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 40px;
  }

  .section__6__info p {
    font-size: 18px;
    line-height: 25.2px;
    width: 300px;
    margin-bottom: 24px;
  }

  .section-6-child img {
    width: 327px;
    height: 312px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .none {
    display: none;
  }

  .footer__col__1 {
    flex-direction: column;
    gap: 32px;
  }

  .footer__col__1 img {
    width: 167px;
    height: 28px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__col__1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer__col__1 form {
    margin: 0;
    margin-bottom: 64px;
  }

  .footer__col__2 {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .footer__col__3 {
    flex-direction: column;
  }
  
  .col__3__firstChild {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .col__3__secondChild i  {
    margin-right: 35px;
  }
}